h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(219, 219, 248);
}

main {
  display: flex;
  padding-top: 50px;
}

header {
  margin-bottom: 5px;
}

.loginButton {
  margin-left:auto;
  margin-right:0;
}

